*,*::before,
*,*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', Tahoma, sans-serif;
  font-size: 15px;
  line-height: 24px;
  color: #fff;
  box-sizing: border-box;
}

.background-wrap {
  background: url("../img/promo-background.jpg") no-repeat ;
}

.wrapper {
  overflow: hidden;
}

.container {
  max-width: 1150px;
  width: 100%;
  padding: 0 10px;
  margin: 0 auto;

}
.row {
  display: flex;
}

.btn {
  display: inline-block;
  padding: 25px 25px;
  background-image: linear-gradient(to top, #2798b9 0%, #3ab6da 100%);
  box-shadow: inset 0 -5px 0 rgba(0, 0, 0, 0.18);
  border: 4px solid rgba(0, 0, 0, 0.23);
  text-transform: uppercase;
  font-size: 21px;
  text-decoration: none;
  color: #ffffff;
  border-radius: 7px;
  font-weight: 300;
}




