.features {
  padding: 80px 0px 65px;
  background-color: #efefef;

  @include tablets {
    padding: 60px 40px;
  }

  @include phones {
    padding: 40px 40px;

  }

  @include small-phones {
    padding: 40px 40px;
  }
}

.features-row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.features__big-title {
  @include orange-border;
}

.features__small-title {
  color: #4a4a4a;
  font-size: 23px;
  line-height: 1.125;
  font-weight: 400;
  text-align: center;
  margin-bottom: 45px;

  @include phones {
    font-size: 18px;
    margin-bottom: 20px;
  }

  @include small-phones {
    font-size: 15px;
  }
}

.features__item {
  width: 354px;
  margin-bottom: 40px;

  @include tablets {
    margin-left: 165px;
  }

  @include phones {
    margin-left: 0px;
  }

  @include small-phones{
    margin-left: 0px;
  }
}

.features__item img {
  @include phones {
    width: 200px;
    margin-left: 35px;
  }

  @include small-phones {
    width: 140px;
    margin-left: 35px;
  }
}

.features__text {
  font-size: 15px;
  line-height: 1.125;
  color: #4a4a4a;
  padding-top: 30px;
  text-align: center;

  @include small-phones {
    font-size: 12px;
  }
}